<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Template App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'catalog:home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'catalog:about' %}">About us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'catalog:contacts' %}">Contacts</a>
  </li>

</ul>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>